<div class="content">

  <% if @user.errors.any? %>
    <p style="color:red">В формы закрались ошибки</p>
  <% end %>

  <%= form_for(@user, :url => cabinet_path, method: "put", html: { :class => "cabinetform" }) do |f| %>
    <ul class="settings">
      <li class="settings_item">
        <%= f.check_box :set_sms %> <%= f.label :set_sms, "Уведомлять сотрудников по смс", :class => "cab_label" %>
      </li>
      <li class="settings_item">
        <%= f.check_box :set_email %> <%= f.label :set_email, "Уведомлять сотрудников по e-mail", :class => "cab_label" %>
      </li>
      <li class="settings_item">
        <%= f.check_box :remember_me %> <%= f.label :remember_me, "Не разлогиниваться по окончании сессии", :class => "cab_label" %>
      </li>
      <li class="settings_item">
        <%= f.label :name, :class => "cab_label" %>
        <%= f.text_field :name %>
      </li>
      <li class="settings_item">
        <%= f.label :username, :class => "cab_label" %>
        <%= f.text_field :username %>
      </li>
      <li class="settings_item">
        <%= f.label :email, :class => "cab_label" %>
        <%= f.email_field :email %>
      </li>
    </ul>
    <button class="button">Сохранить</button>
  <% end %>

  <hr style="margin: 32px 0;">

  <%= form_for(@user, :url => cabinet_path, method: "put", html: { :class => "cabinetform" }) do |f| %>
    <ul class="settings">
      
      <li class="settings_item">
        <%= f.label :password, :class => "cab_label" %>
        <%= f.password_field :password %>
      </li>
      <li class="settings_item">
        <%= f.label :password_confirmation, "Подтверждение", :class => "cab_label" %>
        <%= f.password_field :password_confirmation %>
      </li>
    </ul>
    <button class="button">Изменить пароль</button>
  <% end %>

</div>