<%- prefix = prefix || "" %>
<ul class="workers_list">
  <% workers.each do |worker| %>
  <li class="worker"><input type="checkbox" id="<%= prefix %>c<%= worker.id %>" data-id="<%= worker.id %>"> <label for="<%= prefix %>c<%= worker.id %>"><%= worker.name %></label></li>
  <% end %>
</ul>