<div class="controls">
  <a href="<%= requests_print_path %>" class="print button" id="print_tasks_btn">Распечатать заявки</a>
  <% unless current_user.observer? %>
  <div class="task_buttons">
    <!-- <span class="checked_rows"><span class="checked_rows_count">3</span> выбрано:</span> -->
    
    <select style="display:none" name="addons[worker_ids]" id="addons_worker_ids" multiple="multiple">
      <% @workers.each do |wr| %>
        <option value="<%= wr.id %>"><%= wr.name %></option>
      <% end %>
    </select>
    <div class="workers_select" id="mltpl_workers_select" data-select-id="addons_worker_ids">Назначить работников
      <%= render partial: "workers_list", locals: { workers: @workers } %>
    </div>

    <div class="button edit" id="creat_task_btn">Создать заявку</div>
  </div>
  <% end %>
  <div class="clr"></div>
</div>

<div class="content">
  <table class="actual_tasks__table" id="tasks-manager">
    <thead class="actual_tasks__thead">
      <tr class="actual_tasks__tr">
        <td class="actual_tasks__td"><input type="checkbox" class="checkall"></td>
        <td class="actual_tasks__td">№</td>
        <td class="actual_tasks__td">Логин</td>
        <td class="actual_tasks__td">Описание заявки</td>
        <td class="actual_tasks__td">Адрес</td>
        <td class="actual_tasks__td">Дата и время</td>
        <td class="actual_tasks__td">Работники</td>
        <% unless current_user.observer? %>
        <td class="actual_tasks__td"></td>
        <% end %>
      </tr>
    </thead>
    <tbody class="actual_tasks__tbody">
      <% @requests.each do |req| %>
        <tr class="actual_tasks__tr <%= req.string_of_time_position %>" data-request-id="<%= req.id %>" data-worker-ids="<%= req.worker_ids.join(',') %>">
          <td class="actual_tasks__td"><input type="checkbox"></td>
          <td class="actual_tasks__td"><%= req.id %></td>
          <td class="actual_tasks__td"><%= req.client.present? ? req.client.login : "" %></td>
          <td class="actual_tasks__td"><%= req.body %></td>
          <td class="actual_tasks__td"><%= req.address %></td>
          <td class="actual_tasks__td"><%= I18n.l(req.day) %><br><%= req.time %></td>
          <td class="actual_tasks__td">
            <ul class="actual_tasks__worker_list">
              <% req.workers.each do |wrk| %>
                <li class="actual_tasks__worker_item" data-id="<%= wrk.id %>"><%= wrk.name %></li>
              <% end %>
            </ul>
          </td>
          <% unless current_user.observer? %>
          <td class="actual_tasks__td">
            <img src="assets/complete.png" alt="" class="control_icon complete">
            <img src="assets/edit.png" alt="" class="control_icon edit">
            <img src="assets/delete.png" alt="" class="control_icon delete">
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <tfoot class="actual_tasks__tfoot">
      <tr class="actual_tasks__tr">
        <td class="actual_tasks__td"></td>
        <td class="actual_tasks__td"></td>
        <td class="actual_tasks__td"></td>
        <td class="actual_tasks__td"></td>
        <td class="actual_tasks__td"></td>
        <td class="actual_tasks__td"></td>
        <td class="actual_tasks__td"></td>
        <% unless current_user.observer? %>
        <td class="actual_tasks__td"></td>
        <% end %>
      </tr>
    </tfoot>
  </table>
</div>

<div class="template popup create_task" id="request-form-holder">
  <h2 class="popup_title">Создать заявку</h2>
  <%= form_tag '/requests.json', :class => "popup_form", id: "request-form" do %>
    <input type="hidden" name="request[id]" id="request_id">
    <label for="request_body">Описание заявки:</label>
    <textarea name="request[body]" id="request_body" cols="30" rows="5" ></textarea>
    <label for="request_client_id">Логин</label>
    <select name="request[client_id]" id="request_client_id">
      <option value=""></option>
      <% @clients.each do |cl| %>
        <option value="<%= cl.id %>"><%= cl.login %></option>
      <% end %>
    </select>
    <div class="popup_inputbox">
      <label for="request_day">Дата</label>
      <input type="date" name="request[day]" id="request_day" value="<%= Date.today.strftime('%Y-%m-%d') %>" max="<%= (Date.today + 1.year).strftime('%Y-%m-%d') %>" min="<%= Date.today.strftime('%Y-%m-%d') %>">
    </div><div class="popup_inputbox">
      <label for="request_time">Время</label>
      <select name="request[time]" id="request_time">
        <option value="с 10 до 14">10:00 - 14:00</option>
        <option value="с 14 до 18">14:00 - 18:00</option>
        <option value="с 18 до 19">18:00 - 21:00</option>
      </select>   
    </div>
    <select style="display:none" name="request[worker_ids]" id="request_worker_ids" multiple="multiple">
      <% @workers.each do |wr| %>
        <option value="<%= wr.id %>"><%= wr.name %></option>
      <% end %>
    </select>
    <ul class="selected_workers_area"></ul>
    <div class="workers_select" data-select-id="request_worker_ids">Назначить работников
      <%= render partial: "workers_list", locals: { workers: @workers, prefix: "mp" } %>
    </div>
    <div class="popup_control_buttons">
      <div class="button cancel close">Отменить</div>
      <input type="submit" value="Сохранить" class="button">
    </div>
  <% end %>
</div>

<div class="template popup delete_task" id="delete-request-holder">
  <h2 class="popup_title">Удалить заявку</h2>
  <div class="popup_msg">Вы действительно хотите удалить заявку №<span class="task_count place-for-id">1</span>?</div>
  <%= form_tag '/requests.json', id: "request-delete-form" do %>
    <input type="hidden" name="request[id]" id="delete_request_id">
    <div class="popup_control_buttons">
      <div class="button cancel close">Отменить</div>
      <input type="submit" value="Удалить" class="button delete">
    </div>
  <% end %>
</div>

<div class="template popup complete_task" id="complete-request-holder">
  <h2 class="popup_title">Закрыть заявку №<span class="place-for-id">21</span></h2>
  <%= form_tag '/requests.json', id: "request-complete-form" do %>
  <input type="hidden" name="request[id]" id="complete_request_id">
    <textarea name="request[close_reason]" id="request_close_reason" cols="30" rows="10"></textarea>
    <div class="popup_control_buttons">
      <div class="button cancel close">Отменить</div>
      <input type="submit" value="Закрыть" class="button delete">
    </div>
  <% end %>
</div>
