<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if @requests.any? %>
  <ul class="tasks_list">
    <% @requests.each do |req| %>
    <li class="task">
      <div class="task_title">Заявка №<%= req.id %></div>
      <div class="task__row">Логин: <span><%= req.client.present? ? req.client.login : "" %></span></div>
      <div class="task__row">Адрес: <span><%= req.address %></span></div>
      <div class="task__row">Назначенная дата: <span><%= I18n.l(req.day) %></span></div>
      <div class="task__row">Назначенное время: <span><%= req.time %></span></div>
      <div class="task__row">Назначенные сотрудники: <%= req.workers.map {|w| w.name }.join(", ") %></div>
      <div class="task__row">Описание заявки:
        <div class="mission">
          <%= req.body %>
        </div>
      </div>
      <div class="task__row">
        Выполненные работы:
        <div class="mission_complite">
        _________________________________________________________<br>
        _________________________________________________________
        </div>
      </div>
      <div class="task__row">
        Время: ______________ / Подпись клиента: ____________________
      </div>
    </li>
    <% end %>
  </ul>
  <% end %>

</body>
</html>