<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="sitewrap">
    <header class="header" role="header">
      <div class="loginbar">
        Привет, <a href="<%= cabinet_path %>" class="username"><%= current_user.name.present? ? current_user.name : "Владимир" %></a>
        <a class="button" href="<%= destroy_user_session_path %>" data-method="delete">Выход</a>
      </div>
      <h1 class="sitename">AWP v.1</h1>
      <nav class="navigation" role="navigation">
        <ul>
          <li class="navigation_tab current"><a href="<%= root_path %>" class="navigation_tab_link">Текущие заявки</a></li>
          <li class="navigation_tab"><a href="<%= requests_history_path %>" class="navigation_tab_link">История заявок</a></li>
        </ul>
      </nav>
      <time class="real_time"></time>
    </header>
    <% if flash[:notice] || flash[:alert] %>
      <div id="trms" style="display:none">
        <% if flash[:notice] %><p class="notice"><%= flash[:notice] %></p><% end %>
        <% if flash[:alert] %><p class="alert"><%= flash[:alert] %></p><% end %>
      </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>